# core
deepdiff
gitpython
pytz
pandas
requests
Deprecated

# jupyter
jupyter
IPython>=7
beautifulsoup4>=4
minify-html
requests

# dash
dash

# streamlit
streamlit

# shiny
shiny
htmltools
ipywidgets
shinywidgets

# rstudio
rpy2
