# core
deepdiff>=5
gitpython>=3
pytz>=2020.1
pandas>=1.1.5
requests>=2
Deprecated>=1.2.12
nodejs-bin>=18a
nodejs-bin[cmd]>=18a

# jupyter
IPython>=7
beautifulsoup4>=4
htmlmin>=0.1.12
requests

# dash
dash>=1.15.0
