# core
deepdiff
gitpython
pytz
pandas
requests
Deprecated
importlib_resources>=5.0; python_version < '3.9'

# jupyter
jupyter
IPython>=7
beautifulsoup4>=4
minify-html
requests
jupytext

# dash
dash

# streamlit
streamlit

# shiny
shiny
htmltools
ipywidgets
shinywidgets

# rstudio
rpy2
