include dcxc/dcxc.min.js
include dcxc/dcxc.min.js.map
include dcxc/async-*.js
include dcxc/async-*.js.map
include dcxc/*-shared.js
include dcxc/*-shared.js.map
include dcxc/metadata.json
include dcxc/package-info.json
include README.md
include LICENSE
include package.json
